	
	a{text-decoration:none}
	a:focus{text-decoration: none}
	
	/*.goods-list{display:none;}*/
	#edui1_bottombar{display:none;}
	select{
		appearance: none;
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
	}
	select.form-control{
		background:url(../images/caidanjt-a.svg) no-repeat 96% center;
		background-size:16px;
	}
	.priceError{
		position:absolute;
		color:red;
	}
	.form-control{box-shadow: none;}
	
	.col-sm-4,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9{padding-left:0;}
	input[type=text].form-control,select.form-control,input[type=password].form-control{width:210px;height:36px;}
	input[type=checkbox], input[type=radio]{
		margin:0;
		appearance: none;
    	-moz-appearance: none;
    	-webkit-appearance: none;
    	-ms-appearance: none;
		width:20px;
		height:20px; 
	}
	.table-hover tbody tr:hover td, .table-hover tbody tr:hover th{
		background:#F9F9F9;
	}
	.replaceTell,.bindTell{
		cursor: pointer;
	} 
	.form-group .radio input,.table tr input[type=checkbox],.radio_label input[type=radio]{
		outline: none;
	}
	
	.table_div .table thead th{font-weight:500}
	
	.imgMoren{border:1px solid #eee;}
	
	input[type=radio]{
		background:url(../images/danxuan-a.svg) no-repeat center;
		background-size:20px;
	}
	input[type=radio]:hover{
		background:url(../images/danxuan-b.svg) no-repeat center;
		background-size:20px;
	}
	input[type=radio]:checked{
		background:url(../images/danxuan-c.svg) no-repeat center;
		background-size:20px;
	}
	input[type=radio]:checked:hover{
		background:url(../images/danxuan-c.svg) no-repeat center;
		background-size:20px;
	}
	
	input[type=checkbox]{
		background:url(../images/fuxuan-a.svg) no-repeat center;
		background-size:20px;
	}
	input[type=checkbox]:hover{
		background:url(../images/fuxuan-b.svg) no-repeat center;
		background-size:20px;
	}
	input[type=checkbox]:checked{
		background:url(../images/fuxuan-c.svg) no-repeat center;
		background-size:20px;
	}
	input[type=checkbox]:checked:hover{
		background:url(../images/fuxuan-c.svg) no-repeat center;
		background-size:20px;
	}
	
	
	label.error{font-weight:normal;color:red;}
	.control-label{font-weight: normal;width:110px;text-align: right;}
	body{color:#333;}
	.gray{color:#999;}
	.orange{color:#FFA84D;}
	.blue{color:#4DA1FF;}
	
	/*导航的选中*/
	.nav_ul li.nav_selected{
		background:#4DA1FF;
		color:#fff;
	}
	.nav_ul li.nav_selected a{
		color:#fff; 
	}

	.display{display:block;}
	.input_no_span{
		display:block;
		width:210px;
		height:36px;
		line-height: 36px;
		text-indent: 10px;
	}
	.code_B{
		width:100px;
		height:36px;
		border-radius: 5px;
		font-size:12px;
	}

	.table .middle{vertical-align: middle;}
	table.textLeft th,table.textLeft td{text-align: left;vertical-align: middle;}
	.red_spot{
		display:inline-block;
		width:8px;
		height:8px;
		background:red;
		border-radius: 4px;
		position:absolute;
		top:17px;
		left:10px;
	}
	
	.search_div .fenleiDown{
		-moz-appearance: none;
        appearance: none;
        box-shadow: none;
		float:left;
		padding-left:10px;
		height:40px;
		box-shadow: none;
		border-radius: 0;
		border-color:#eee;
		margin-right:10px;
		margin-left:10px;
	}

	/*.form-group>label{margin-top:6px;}*/
	.checkbox, .radio{
		margin-top:6px;
	}
	
	table th,table td{text-align: center;position:relative;}
	table td img{width:60px;height:60px;margin-right:5px}
	.list_tbody{overflow-y: auto;overflow-x: hidden;}
	.list_tbody .table tr th{
	    height: 0;
	    padding-top: 0;
	    overflow: hidden;
	    padding-bottom: 0;
	    border: 0;
	}
	/*操作下拉框*/
	.td_operate{
		position:absolute;
		top:23px;
		right:0;
		padding-top:5px;
		background:url(../images/caidanjt-a.svg) no-repeat 75% 9px;
		background-size:14px;
	}
	.hidden_S{display:none;}
	.operate_border{
		z-index: 99;
		border-left:1px solid #eee;
		border-bottom:1px solid #eee;
		border-top:1px solid #eee;
		background:#fff url(../images/caidanjt-b.svg) no-repeat 75% 9px;
		background-size:14px;
	}
	.td_operate a{
		padding:5px 34px;
		cursor: pointer;
		color:#4DA1FF;
	}
	.td_operate a:hover{
		background:#4DA1FF;
		color:#fff;
	}
	
	
	
	button.hold_B{
		width:100px;
		height:32px;
		background:#4DA1FF;
		color:#fff;
		border-radius: 5px;
	}
	button.hold_B:hover{
		background:#1A73D8;
		color:#fff;
	}
	button.cancel_B{
		width:100px;
		height:32px;
		background:#f8f8f8;
		color:#999;
		border-radius: 5px;
	}
	button.cancel_B:hover{
		background:#f2f2f2;
		color:#999;
	}
	
	
	
	body{line-height: normal;}
	
	/*我的供应*/
	.page_con{
		width:100%;
		background:#f9f9f9;
		border-top:2px solid #4DA1FF;
	}
	.con_center{
		width:1200px;
		min-height: 620px;
		margin:0 auto;
		padding-bottom:40px;
	}
	.con_center:after{
		content:"";
		display:block;
		height:0;
		clear: both;
	}
	.page_con .nav{
		width:190px;
		float:left;
		border:1px solid #eee;
	}
	.nav_ul{
		border-bottom:1px solid #eee;
	}
	.nav_ul:nth-last-child(1){
		border:0;
	}
	.nav_ul li{
		background:#fff;
		width:100%;
		padding:8px 0;
		text-indent: 20px;
		font-size:14px;
	}
	.nav_ul li a{
		display:block;
		width:100%;
		height:100%;
	}
	.font_bold{font-weight: 900;}
	.li_hover:hover{background:#4DA1FF;color:#fff;}
	.li_hover:hover a{color:#fff;}

	
	.page_con .content{
		width:1000px;
		min-height:600px;
		/*border:1px solid #eee;*/
		float:right;
		position: relative;
	}
	.page_con .content .button_box{
		width:380px;
		height:320px;
		border:1px solid #eee;
		float:left;
		margin-left:80px;
		margin-top:50px;
		position:relative;
		background:#fdfdfd;
	}
	.page_con .content .button_box:hover{
		box-shadow:0 0 10px #bbb;
	}
	.content .rel_B{
		display:block;
		position:absolute;
		width:120px;
		padding:5px;
		border-radius: 5px;
		text-align: center;
		border:1px solid #eee;
		font-size:14px;
		bottom:20px;
		left:130px;
		background:#fff;
	}
	.rel_B:hover{
		border:1px solid #4DA1FF;
		color:#4DA1FF;
	}
	.release_goods .img{
		background:#fff url(../images/fabu-a.png) no-repeat center;
		background-size:90%;
	}
	.dhm_goods .img{
		background:#fff url(../images/fabu-b.png) no-repeat center;
		background-size:90%;
	}
	.button_box .img{
		width:360px;
		height:250px;
		margin:10px auto;
	}
	
	/*确认*/
	.footer_submit{
		float:left;
		padding:10px 0 0 0;
	}
	.input_B{
		width: 100px;
	    height: 32px;
	    color: #fff;
	    border-radius: 5px;	
	    border:0;
	}
	.submit_In{
		background:#4DA1FF;
	}
	.submit_In:hover{
		background:#1A73D8;
	}
	.cancel_In:hover{
		background:#BBBBBB;
	}
	/*地址选择框*/
	.fieldSet select{
		padding: 6px 18px 6px 12px;
	    font-size: 14px;
	    line-height: 1.42857143;
	    color: #555;
	    background: url(../images/caidanjt-a.svg) no-repeat 96% center;
	    background-size:16px;
	    border: 1px solid #ccc;
	    border-radius: 4px;
	    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	    margin-bottom:10px;
	} 

	
	/*发布新的活动*/
	.con_form{
		padding:30px 0 50px 90px;
	}
	.con_form:after{
		content:"";
		display:block;
		height:0;
		clear: both;
	}
	/*上传图片*/
	.updateImg{
		display:inline-block;
		width:120px;
		height: 120px;
		border:1px solid #ccc;
		background:#fff url(../images/shangchuan.svg) no-repeat center 30px;
		background-size:40px 40px;
		position:relative;
		border-radius: 5px;
		position:relative;
	}
	.updateImg img{
		width:120px;
		height:120px;
	}
	.updateImg .img_model{
		width:100%;
		height:100%;
		position:absolute;
		top:0;
		left:0;
		z-index: 9;
		background:rgba(0,0,0,0.3);
		display:none;
	}
	.updateImg .img_model span{
		width:30px;
		height:30px;
		display:inline-block;
		background:url(../images/shanchudj_icon.svg) no-repeat;
		background-size:30px 30px;
		position:absolute;
		top:45px;
	}
	.updateImg span.delImg{
		left:45px;
	}
	
	.webuploader-pick{
		width:120px;
		height:120px;
		line-height: 160px;
		font-size:12px;
		text-align: center;
		color:#999;
	}
	.webuploader-element-invisible{opacity: 0;}
	

	/*消息通知*/
	.search_div{
		margin-top:10px;
	}
	.search_div .input_S{
		width:250px;
		height:40px;
		border:1px solid #eee;
		border-right:0;
	}
	.search_div .toSearch{
		width:60px;
		height:40px;
		border:0;
		background:#4DA1FF;
		color:#fff;
	}
	.search_div .toSearch:hover{
		background:#1A73D8;
	}
	.search_type{
		width:250px;
		height:40px;
		float:left;
		padding:0 20px;
	}
	.search_type .el-input__icon+.el-input__inner{
		border-radius: 0;
		height:40px;
	}
	.search_type .el-cascader__label{
		line-height:40px;
	}
	/*弹出框的手机号样式*/
	.modelCon{padding:20px 0;}
	.modelCon .form-group{width:600px;}
	.modelCon .form-group .form-control{width:250px;}

	/*上传多张图片的样式*/
	.imgs_box{
		float:left;
		height:118px;
		width: 118px;
		border-radius: 5px;
		overflow: hidden;
		margin-right:10px;
		position:relative;
	}
	.img_box{
		position:absolute;
		top:0;
		left:0;
		border-radius: 5px;
	}
	.imgs_box img,.img_box img{
		width:118px;
		height:118px;
	}
	.imgs_box:hover .caozuoImg{
		display:block;
	}
	.caozuoImg{
		width:118px;
		height:118px;
		position: absolute;
		left:0;
		top:0;
		background:rgba(0,0,0,0.5);
		font-size:0;
		padding:0 20px;
		display:none;
		z-index: 2;
	}
	.caozuoImg a{
		display:inline-block;
		width:30px;
		height:30px;
		background:red;
		margin-top:45px;
	}
	.caozuoImg a.see{
		background:url(../images/chakanbai_icon.svg) no-repeat center;
		background-size:26px;
		margin-right: 10px;
	}
	.caozuoImg a.del{
		background:url(../images/shanchudj_icon.svg) no-repeat center;
		background-size:26px;
	}

	/*单张图片上传*/
	.img_box{
		position:absolute;
		top:0;
		left:0;
		border-radius: 5px;
		overflow: hidden;
		z-index:99;
	}
	.img_box:hover .caozuoImg{
		display:block;
	}
	
	/*绑定qq*/
	.bind_list{
		width:100%;
		height:140px;
		border:1px solid #eee;
		background:#fdfdfd;
		margin-bottom:10px;
	}
	.bind_logo{
		display:block;
		float:left;
		width:100px;
		height:100px;
		margin:20px;
	}
	.bind_logo img{
		width:100%;
		height:100%;
	}
	.bind_con{
		width:calc(100% - 200px);
		float:left;
		padding:30px 0;
	}
	.bind_con p{
		font-size:15px;
	}
	.bind_con .bind_B,.bind_con .unbind_B{
		padding:6px 60px;
		background:#fff;
		border:1px solid #eee;
		border-radius: 5px;
		margin-top:20px;
	}
	.bind_con .bind_B:hover,.bind_con .unbind_B:hover{
		border:1px solid #4DA1FF;
		color:#4DA1FF;
	}

	/*内容框*/
	.content_box{
		background:#fff;
		margin-top:10px;
		border:1px solid #eee;
	}
	.content_box .con_title{
		background:#F9F9F9;
		line-height: 40px;
		font-weight: 900;
		font-size: 15px;
		text-indent: 30px;
	}
	.content_box .con_title i{
		background:#F9F9F9;
		line-height: 40px;
		font-weight: 400;
		font-size: 15px;
		margin-left: 30px;
	}
	
	
	/*登录页面*/
	.login_header{
		width:100%;
		height:80px;
		background:#fff url(../images/logo.svg) no-repeat 50px center ;
	}
	
	
	.login_con{
		width:100%;
		height:calc(100% - 180px);
		background:url(../images/denglu-bg.png);
		background-size:100% 100%;
		position:relative;
	}
	.login_imgs{
		width:660px;
		height:500px;
	}
	.login_img1{
		width:660px;
		height:200px;
		display:block;
	}
	.login_img2{
		width:590px;
		height:300px;
	}
	
	
	.login_right{
		width:360px;
		height:400px;
		background:#fff;
		border-radius: 5px;
		position:absolute;
		top:40px;
		right:100px;
	}
	
	.login_title {
		padding:20px 50px 40px 50px;
		overflow: hidden;
	}
	.login_title h3{
		float:left;
	}
	.login_title a{
		float:right;
		font-size:13px;
		line-height:30px;
	}
	.login_input li{
		height:36px;
		width:300px;
		margin-bottom:20px;
		padding-left:50px;
	}
	.login_input li input{
		text-indent: 10px;
		font-size:16px;
	}
	.userName_li span,.passWord_li span{
		display:block;
		float:left;
		width:36px;
		height:36px;
		border:1px solid #eee;
	}
	.userName_li span{
		background:#f9f9f9 url(../images/yonghuming-a.svg) no-repeat center;
	}
	.passWord_li span{
		background:#f9f9f9 url(../images/mima-a.svg) no-repeat center;
	}
	.userName_li input,.passWord_li input{
		width:220px;
		height:36px;
		border:1px solid #eee;
		border-left:0;
	}
	li.username_focus span{
		border:1px solid #4DA1FF;
		background:#f9f9f9 url(../images/yonghuming-b.svg) no-repeat center;
	}
	li.username_focus input{
		border:1px solid #4DA1FF;
		border-left:0;
	}
	
	li.password_focus span{
		border:1px solid #4DA1FF;
		background:#f9f9f9 url(../images/mima-b.svg) no-repeat center;
	}
	li.password_focus input{
		border:1px solid #4DA1FF;
		border-left:0;
	}
	
	li.code_focus input{
		border:1px solid #4DA1FF;
	}
	
	input::-webkit-input-placeholder { /* WebKit browsers */
	　　color:red;
	}
	input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	　　color:red;
	}
	input::-moz-placeholder { /* Mozilla Firefox 19+ */
	　　color:red;
	}
	input:-ms-input-placeholder { /* Internet Explorer 10+ */
	　　color:red;
	}
	
	.code_li input{
		width:146px;
		height:36px;
		border:1px solid #eee;
		float:left;
		margin-right:10px;
	}
	.code_li img{
		width:100px;
		height:38px;
	}
	
	.login_input .remenber_li {
		font-size:12px;
		height:20px;
		padding-top:16px;
	}
	.remenber_li input{
		float:left;
		margin-right:10px;
	}
	.remenber_li span{
		line-height:20px;
	}
	.button_li input{
		width:256px;
		height:40px;
		background:#4DA1FF;
		border:0;
		color:#fff;
		font-size:16px;
		letter-spacing: 10px;
	}
	.button_li input:hover{
		background:#1A73D8;
	}
	
	.login_footer{
		position:fixed;
		bottom:0;
		left:0;
		width:100%;
		height:80px;
		padding:20px 0 0 0;
		text-align: center;
		font-size:14px;
		background-color: #fff;
	}
	.login_footer .l_f_p1{
		
	}
	.login_footer .l_f_p2{
		font-weight: 100;
		font-size:12px;
		line-height:32px;
	}
	.login_footer img{
		width:40px;
		height:20px;
	}
	
	/*华奕优选平台业务介绍*/
	.int_div1{
		margin:0;padding:0;
		width:100%;
		height:460px;
		background:url(../images/banner-jieshao.png) no-repeat center;
		background-size:100% 100%;
		padding-top:30px;
	}
	.int_center{
		position:relative;
		width:1000px;
		height:400px;
		margin:0 auto;
		/*border:1px solid #00FF00;*/
	}
	.int_info{
		width:100%;
		height:360px;
	}
	.int_info .title{/*#907df1 0%, #5cc2f8*/
		width:100%;
		height:80px;
		background: -moz-linear-gradient(right, #907df1 0%, #5cc2f8 100%);
	    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#907df1), color-stop(100%,#5cc2f8));
	    background: -webkit-linear-gradient(right, #907df1 0%,#5cc2f8 100%);
	    background: -o-linear-gradient(right, #907df1 0%,#5cc2f8 100%);
	    background: -ms-linear-gradient(right, #907df1 0%,#5cc2f8 100%);
	    background: linear-gradient(to left, #907df1 0%,#5cc2f8 100%);
	}
	.int_info .title_h3{
		width:100%;
		height:100%;
		background:url(../images/wenzu-3.png) no-repeat center;
		background-size:250px 60px;
		text-align: center;
		vertical-align: middle;
		line-height: 80px;
		font-size:22px;
		color:#fff;
		font-weight:800;
	}
	.int_info .title_h3 img{
		width:120px;
		height:50px;
		margin-top:15px;
	}
	
	
	.int_info .con{
		width:100%;
		height:200px;
		background:#fff;
		line-height:40px;
		text-indent: 30px;
		padding: 40px 160px;
	}

	.int_div1 .titleImg{
		width:500px;
		height:60px;
		margin:60px 0 70px 20px;
	}
	
	
	
	
	
	.int_div2{
		margin:0;padding:0;
		width:100%;
		height:440px;
		background:url(../images/tu-1.png) no-repeat center;
		background-size:100% 100%;
	}
	.int_div2 .int_center{
		padding-top:120px;
	}
	.center_title{
		font-size:20px;
		height:80px;
		line-height: 90px;
		font-weight:bold;
		text-align: center;
		margin-bottom:30px;
	}
	.function_title{
		background:url(../images/wenzu-2.png) no-repeat center;
		background-size:440px 60px;
	}
	
	.fun_li{
		width:320px;
		height:380px;
		float:left;
		margin-right:20px;
	}
	.fun_ul .fun_li:nth-of-type(3){
		margin-right:0;
	}
	.fun_li .title{
		width:100%;
		height:60px;
		background: -moz-linear-gradient(right, #907df1 0%, #5cc2f8 100%);
	    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#907df1), color-stop(100%,#5cc2f8));
	    background: -webkit-linear-gradient(right, #907df1 0%,#5cc2f8 100%);
	    background: -o-linear-gradient(right, #907df1 0%,#5cc2f8 100%);
	    background: -ms-linear-gradient(right, #907df1 0%,#5cc2f8 100%);
	    background: linear-gradient(to left, #907df1 0%,#5cc2f8 100%);
	    text-align: center;
	    line-height: 60px;
	    font-size:18px;
	    color:#fff;
	}
	.fun_li .content{
		width:100%;
		height:320px;
		background:rgba(255,255,255,0.5);
		padding:30px;
		line-height: 40px;
		text-indent: 26px;
	}
	
	
	
	.int_div3{
		margin:0;padding:0;
		width:100%;
		height:660px;
		background:#f3f3f3;
		background-size:100% 100%;
	}
	
	.int_div3 .int_center{
		padding-top:200px;
	}
	.div3_title{
		background:url(../images/wenzu-5.png) no-repeat center;
		background-size:260px 70px;
	}
	/*.div3_ul::after{
		content: '';
		display: block;
		height:0;
		clear: both;
	}*/
	.div3_li{
		width:235px;
		height:280px;
		float:left;
		margin-right:20px;
	    background: -webkit-linear-gradient(bottom right, #01e4f8, #1c41de);
	    background: -moz-linear-gradient(bottom right, #01e4f8, #1c41de);
	    background: -o-linear-gradient(bottom right, #01e4f8, #1c41de);
	    background: -webkit-gradient(linear, 100% 100%, 0 0, from(#01e4f8), to(#1c41de));
	    background: linear-gradient(bottom right, #01e4f8, #1c41de);
	    color:#fff;
	    position:relative;
	    text-align: center;
	}
	.div3_li:nth-of-type(4){
		margin-right:0;
	}
	.css_list{
		width:100%;
		height:100%;
		position: absolute;
		z-index: 1;
		overflow: hidden; 
	}
	.div3_li h2{
		font-size:20px;
		line-height: 100px;
		font-weight: 800;
	}
	.div3_li p{
		font-size:15px;
		line-height: 40px;
	}
	
	.div3_li img{
		position:absolute;
		top:-20px;
		left:0;
		width:60px;
		height:60px;
	}
	
	
	
	.int_div4{
		margin:0;padding:0;
		width:100%;
		height:540px;
		background:url(../images/tu-2.png) no-repeat center;
		background-size:100% 100%;
		padding:50px;
	}
	.div4_title {
		background:url(../images/wenzu-4.png) no-repeat center;
		background-size:200px 60px;
	}
	.div4_con{
		width:100%;
		height:300px;
		background:url(../images/tu-3.png) no-repeat center;
		background-size:128%;
	}
	.div4_con img{
		width:100%;
	}
	
	
	







.table{margin-bottom:0;}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{border-top:0;vertical-align:middle;border-bottom:1px solid #eee;}
.table>thead>tr>th{border-bottom:1px solid #eee;background:#f9f9f9;}





			.div3_li:hover .star {
			    display: block;
			    width: 0px;
			    height: 0px;
			    border-radius: 50%;
			    background: #fff;
			    top: -50px;
			    left:200px;
			    position: relative;
			    transform-origin: 100% 0;
			    animation: star-ani 6s infinite ease-out;
			    box-shadow: 0 0 0px 0px rgba(255, 255, 255, .3);
			    opacity: 0;
			    z-index: 2;
			}
			.div3_li:hover .star:after {
			    content: '';
			    display: block;
			    top: -10px;
			    left: 200px;
			    border: 0px solid #fff;
			    border-width: 0px 90px 3px 90px;
			    border-color: transparent transparent transparent #fff;
			    transform: rotate(-45deg) translate3d(1px, 3px, 0);
			    box-shadow: 0 0 1px 0 rgba(255, 255, 255, .1);
			    transform-origin: 0% 100%;
			    animation: shooting-ani 1s infinite ease-out;
			}
			
			
			
			
			.div3_li:hover .star1 {
			    top: -10px;
			    left: 300px;
			    background: #fff;
			    animation-delay: 0.5s;
			    -webkit-animation-delay:0.5s;
			    -moz-animation-delay: 0.5s;
			}
			.div3_li:hover .star1:after {
			    border-color: transparent transparent transparent #fff;
			    animation-delay: 0.5s;
			    -webkit-animation-delay:0.5s;
			    -moz-animation-delay: 0.5s;
			}
			.div3_li:hover .star2 {
			    top: 100px;
			    left: 200px;
			    background: #fff;
			    animation-delay: 0s;
			    -webkit-animation-delay:0s;
			    -moz-animation-delay: 0s;
			}
			.div3_li:hover .star2:after {
			    border-color: transparent transparent transparent #fff;
			    animation-delay: 0;
			    -webkit-animation-delay:0s;
			    -moz-animation-delay: 0s;
			}
			.div3_li:hover .star3 {
			    top: -10px;
			    left: 100px;
			    background: #fff;
			    animation-delay: 1.5s;
			    -webkit-animation-delay: 1.5s;
			    -moz-animation-delay: 1.5s;
			}
			.div3_li:hover .star3:after {
			    border-color: transparent transparent transparent #fff;
			   animation-delay: 1.5s;
			    -webkit-animation-delay: 1.5s;
			    -moz-animation-delay:1.5s;
			}
			.div3_li:hover .star4 {
			    top: 100px;
			    left: 250px;
			    background: #fff;
			    animation-delay: 1.5s;
			    -webkit-animation-delay: 1.5s;
			    -moz-animation-delay: 1.5s;
			}
			.div3_li:hover .star4:after {
			    border-color: transparent transparent transparent #fff;
			   animation-delay: 1.5s;
			    -webkit-animation-delay: 1.5s;
			    -moz-animation-delay:1.5s;
			}
			.div3_li:hover .star5 {
			    top: 200px;
			    left: 250px;
			    background: #fff;
			    animation-delay: 1.5s;
			    -webkit-animation-delay: 1.5s;
			    -moz-animation-delay: 1.5s;
			}
			.div3_li:hover .star5:after {
			   border-color: transparent transparent transparent #fff;
			   animation-delay: 1.5s;
			   -webkit-animation-delay: 1.5s;
			   -moz-animation-delay: 1.5s;
			}
			.div3_li:hover .star6 {
			    top: -10px;
			    left: 100px;
			    background: #fff;
			    animation-delay: 1.5s;
			    -webkit-animation-delay: 1.5s;
			    -moz-animation-delay: 1.5s;
			}
			.div3_li:hover .star6:after {
			    border-color: transparent transparent transparent #fff;
			   animation-delay: 1.5s;
			    -webkit-animation-delay: 1.5s;
			    -moz-animation-delay: 1.5s;
			}
			
			
			.div3_li:hover .star7 {
			    top: 100px;
			    left: 200px;
			    background: #fff;
			    animation-delay: 3s;
			    -webkit-animation-delay:3s;
			    -moz-animation-delay: 3s;
			}
			.div3_li:hover .star7:after {
			    border-color: transparent transparent transparent #fff;
			    animation-delay: 3s;
			    -webkit-animation-delay:3s;
			    -moz-animation-delay: 3s;
			}
			.div3_li:hover .star13 {
			    top: -10px;
			    left: 210px;
			    background: #fff;
			    animation-delay: 3s;
			    -webkit-animation-delay:3s;
			    -moz-animation-delay: 3s;
			}
			.div3_li:hover .star13:after {
			    border-color: transparent transparent transparent #fff;
			    animation-delay: 3s;
			    -webkit-animation-delay:3s;
			    -moz-animation-delay: 3s;
			}
			.div3_li:hover .star14 {
			    top: -100px;
			    left: 150px;
			    background: #fff;
			    animation-delay: 2s;
			    -webkit-animation-delay:2s;
			    -moz-animation-delay: 2s;
			}
			.div3_li:hover .star14:after {
			    border-color: transparent transparent transparent #fff;
			    animation-delay: 2s;
			    -webkit-animation-delay:2s;
			    -moz-animation-delay: 2s;
			}
			
			
			.div3_li:hover .star15 {
			    top: 200px;
			    left: 250px;
			    background: #fff;
			    animation-delay: 2.5s;
			    -webkit-animation-delay:2.5s;
			    -moz-animation-delay: 2.5s;
			}
			.div3_li:hover .star15:after {
			    border-color: transparent transparent transparent #fff;
			    animation-delay: 2.5s;
			    -webkit-animation-delay:2.5s;
			    -moz-animation-delay: 2.5s;
			}
			.div3_li:hover .star8 {
			    top: -10px;
			    left: 100px;
			    background: #fff;
			    animation-delay: 3s;
			    -webkit-animation-delay: 3s;
			    -moz-animation-delay: 3s;
			}
			.div3_li:hover .star8:after {
			    border-color: transparent transparent transparent #fff;
			   animation-delay: 3s;
			    -webkit-animation-delay: 3s;
			    -moz-animation-delay:3s;
			}
			.div3_li:hover .star9 {
			    top: 100px;
			    left: 250px;
			    background: #fff;
			    animation-delay: 4s;
			    -webkit-animation-delay: 4s;
			    -moz-animation-delay: 4s;
			}
			.div3_li:hover .star9:after {
			    border-color: transparent transparent transparent #fff;
			   animation-delay: 4s;
			    -webkit-animation-delay: 4s;
			    -moz-animation-delay:4s;
			}
			.div3_li:hover .star10 {
			    top: 200px;
			    left: 250px;
			    background: #fff;
			    animation-delay: 5s;
			    -webkit-animation-delay: 5s;
			    -moz-animation-delay: 5s;
			}
			.div3_li:hover .star10:after {
			    border-color: transparent transparent transparent #fff;
			   animation-delay: 5s;
			    -webkit-animation-delay: 5s;
			    -moz-animation-delay: 5s;
			}
			.div3_li:hover .star11 {
			    top: -10px;
			    left: 100px;
			    background: #fff;
			    animation-delay: 5s;
			    -webkit-animation-delay: 5s;
			    -moz-animation-delay: 5s;
			}
			.div3_li:hover .star11:after {
			    border-color: transparent transparent transparent #fff;
			   animation-delay: 5s;
			    -webkit-animation-delay: 5s;
			    -moz-animation-delay: 5s;
			}
			.div3_li:hover .star12 {
			    top: -10px;
			    left: 100px;
			    background: #fff;
			    animation-delay: 6s;
			    -webkit-animation-delay: 6s;
			    -moz-animation-delay: 6s;
			}
			.div3_li:hover .star12:after {
			    border-color: transparent transparent transparent #fff;
			   animation-delay: 6s;
			    -webkit-animation-delay: 6s;
			    -moz-animation-delay: 6s;
			}
			
			
			
			@keyframes star-ani {
			    0% {
			        opacity: 0;
			        transform: scale(0) rotate(0) translate3d(0, 0, 0);
			        -webkit-transform: scale(0) rotate(0) translate3d(0, 0, 0);
			        -moz-transform: scale(0) rotate(0) translate3d(0, 0, 0);
			    }
			    50% {
			        opacity: 1;
			        transform: scale(1) rotate(0) translate3d(-300px, 300px, 0);
			        -webkit-transform: scale(1) rotate(0) translate3d(-300px, 300px, 0);
			        -moz-transform: scale(1) rotate(0) translate3d(-300px, 300px, 0);
			    }
			    100% {
			        opacity: 0;
			        transform: scale(1) rotate(0) translate3d(-400px, 300px, 0);
			        -webkit-transform: scale(1) rotate(0) translate3d(-400px, 400px, 0);
			        -moz-transform: scale(1) rotate(0) translate3d(-400px, 400px, 0);
			    }
			}


			





